@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
}

body {
  background-color: #F8FAFC;
  color: #1E293B;
}

@media print {
  .no-print {
    display: none !important;
  }
  
  body {
    background: white !important;
    font-size: 12pt;
  }

  main {
    padding: 0 !important;
    margin: 0 !important;
  }

  .print-break-inside-avoid {
    page-break-inside: avoid;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #CBD5E1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94A3B8;
}
